@import url(http://fonts.googleapis.com/css?family=Cambay);
@import url(http://fonts.googleapis.com/css?family=Iceland);
/*font-family: 'Cambay', sans-serif;
font-family: 'Iceland', cursive;
*/

/* core elements */
html {
  padding: 0 15px;
  font: 16px/1;
  font-family: 'Cambay', sans-serif;
  background: url(../images/eso0104a.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  max-width: 900px;
  margin: 1.5rem auto;
  color: #CFD0E0;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

h1 {
  padding: 0;
  margin: 0;

}

li {
  list-style-type: none;
}

p {
  margin-bottom: 1.5rem;
}

/* header */
.title {
  margin-bottom: 1.5rem;
  margin-left: -.5rem;
  font-family: 'Iceland', cursive;
  font-size: 6rem;
  line-height: 4rem;
  color: #FFF;
  text-align: center;
  text-shadow: #BCD9D7 0 0 2rem;
  transition: all .5s ease-in-out;



}

.title:hover {
  text-shadow: #FFF 0 0 4rem;
  transition: all 1.5s ease-in-out;
  /*font-size: 5rem;*/

}

.subtitle {
  text-align: center;
  font-size: 3rem;
  font-family: 'Iceland', cursive;


}

/* nav */
nav {
  font-size: 0;
  background: #264135;
  border-radius: 3px;
  box-shadow: 0 3px .8rem rgba(255,255,255,.3);
}

nav a {
  font-size: 1.2rem;
  color: #CFD0E0;
  text-decoration: none;

}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 1.5rem;
  color: #CFD0E0;
}

.active {
  background: linear-gradient(0deg, #1d3227, #1F4C35);
}

nav ul li:hover {
  /*background-color: #81D6C1;*/
  color: #fff;
  background: linear-gradient(0deg, #1F4C35, #1d3227);
  
}

.active:hover {
  background: linear-gradient(0deg, #1d3227, #1F4C35);
}

nav ul li:hover:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

nav li a {
  
}

nav li:hover a {
  color: #fff;
  /*font-size: 1.6rem;*/
  /*transition: all .2s ease;*/
  
}

.sub-nav ul {
  display: none;
  background-color: pink;

}

.sub-nav {
  position: relative;
}

.sub-nav:hover ul {
  position: absolute;
  top: 110%;
  left: 20px;
  display: inline-block;
}

/*.main-content .nested-list {
  display: block;
}
*/




/* sections */

.main-content section {
  padding: 1.5rem;
  margin-top: 1.5rem;
  background: rgba(37, 37, 37, 0.95);
  border-radius: 3px;
  box-shadow: 0 3px .8rem rgba(255,255,255,.3);
}

.glow-wrap {
  position: relative;
  border-radius: 3px;

}

.glow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 30px rgba(255,255,255,.3);
  -webkit-animation: pulsate 3s ease-in-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.3;
  border-radius: 3px;
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: opacity: 0.3;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: opacity: 0.3;}
}

.section-head {
  margin-bottom: 1.5rem;
  margin-top: 0;
  /*box-shadow: 0 0 1rem  rgba(255,255,255,.3);*/
  text-align: center;
  line-height: 4rem;
  font-size: 1.5rem;
  border-radius: 3px;
  clear: both;
}

.main-content span {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1rem;
}

.long-list {
  margin: 0 auto;

}

.block-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-bottom: 1.5rem;
}

.list-subsection {

}

.side-content {
  padding: 1.5rem;
  margin-top: 1.5rem;
  background: rgba(37, 37, 37, 0.95);
  border-radius: 3px;
  box-shadow: 0 3px .8rem rgba(255,255,255,.3);

}


/* footer */

footer {
  padding: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  background: rgba(63, 84, 103, .95);
  border-radius: 3px;
  box-shadow: 0 3px .8rem rgba(255,255,255,.3);
}

@media only screen and (min-width: 550px) {
  .title {
    padding-left: 1.5rem;
    text-align: left;
    font-size: 7rem;
    line-height: 4rem;
    color: #FFF;
    text-align: left;
  }

  .subtitle {
    text-align: left;
    padding-left: 1.5rem;

  }
}

@media only screen and (min-width: 700px) {
  .block-wrapper {
    width: 24%;
  }
}

@media only screen and (min-width: 865px) {
  .block-wrapper {
    width: 16.2%;
  }
}